<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ meta.fullTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'styles.css'|asset_path }}" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
</head>
<body class="{% block bodyClass %}{% endblock %}" data-env="{{ meta.environment }}">
{% include '@partials/_icons.html.twig' %}
<div id="app-container" data-app="{% block appId %}{% endblock %}" data-initial="{% block appInitial %}{% endblock %}">
    <div id="header-container" data-app="header" class="header-container"></div>
    <main>
        {% block body %}{% endblock %}
    </main>
</div>
{% block footerScripts %}
    <script src="{{ 'vendor.js'|asset_path }}"></script>
    <script src="{{ 'bootstrap.js'|asset_path }}"></script>
{% endblock %}
</body>
</html>
